
<!--コメント表示機能-->
<div class="row">
  <div class="col-sm-12">
    <ol>
      <% book.book_comments.each do |book_comment| %>
      <li>
        <%= link_to "#{book_comment.user.name}",user_path(book_comment.user_id)%>
        <span><%= book_comment.created_at.strftime('%Y/%m/%d %X') %></span>
        <span><% if book_comment.user == current_user %>
          <%= link_to " 削除", book_book_comments_path(book_comment), method: :delete, remote: true, class: "btn-sm btn-danger" %>
        <% end %><span>
        <div><%= book_comment.comment %></div><br>
      </li>
      <% end %>
    </ol>
  </div>
</div>

<!--コメント表示機能-->